.header {
  padding: 24px 64px;
  border-bottom: 1px solid #e5e7eb;
  background-color: var(--white);
}

.nav {
  display: flex;
 justify-content: flex-start;
 gap: 450px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--main);
}
.logoTrucks {
  color: var(--secondary); 
}

.menu {
  display: flex;
  gap: 32px;
}

.link {
 
  font-family: 'Inter', sans-serif; 
  font-size: 16px;
  font-weight: 500; 
  line-height: 24px; 
  letter-spacing: 0;
  
  /* Görsel Yerleşim Değerleri */
  width: 60px; 
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; 
  
  text-decoration: none;
  color: var(--main);
  transition: color 0.3s ease;
}


.active {
  color: var(--button);
}

.link:hover {
  color: var(--button);
}

.active {
  color: var(--button); 
}