.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid #dadde1; /* Figma: 1px dadde1 */
  border-radius: 20px; /* Figma: 20px */
  width: 888px; /* Figma: Fixed Width */
  height: 368px; /* Figma: Fixed Height */
  background: #fff;
}

.imageWrapper {
  width: 290px;
  height: 310px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}

.priceBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
}

.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
}

.iconHeart {
  width: 24px;
  height: 24px;
}

/* Meta (Rating & Location) */
.meta {
  display: flex;
  gap: 16px;
  font-size: 16px;
}

.ratingBox, .locationBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconStar { width: 16px; height: 16px; }
.iconMap { width: 16px; height: 16px; }

.ratingText { text-decoration: underline; }

.description {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Badge Styles */
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: auto; /* Show more butonunu en alta iter */
}

.badge {
  background-color: #f2f4f7;
  padding: 12px 18px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.badgeIcon {
  width: 20px;
  height: 20px;
}

.showMore {
  background-color: #E44848; /* Figma Button Color */
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 200px;
  width: fit-content;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.showMore:hover {
  background-color: #d84343;
}